{
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-css-order", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "trailingComma": "es5",
        "semi": false,
        "singleQuote": true,
        "printWidth": 90
      }
    }
  ]
}
